form{
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 0 auto;
}

.contain-input{
    width: 100%;
    display: flex;
}

.contain-input > label, input{
    width: 40%;
}

#gigDesc{
    height: 30vh;
}

#contain-buttons{
    width: 50%;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#contain-buttons > button{
    width: 40%;
}

#navigation-bar{
    width: 10vw;
    display: flex;
    flex-direction: column;
}

#navigation-bar > a{
    width: 100%;
    padding: 1rem;
    background-color: grey;
    text-decoration: none;
    color: white;
}

#contain-btn-posts{
    display: flex;
    width: fit-content;
    margin-left: auto;
}

#btn-create[value='unactive']{
    display: none;
}

#btn-create[value='active']{
    display: block;
}

#create-part1[value='active']{
    display: block;
}

#create-part2[value='active']{
    display: block;
}

#create-part1[value='unactive']{
    display: none;
}

#create-part2[value='unactive']{
    display: none;
}