.sprofileform {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: none;
  border-radius: 8px;
}

.profile-pic-container {
  position: relative;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.upload-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  cursor: pointer;
}

.upload-btn img {
  width: 16px;
  height: 16px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio-header {
  width: 100%;
  font-size: 24px;
  padding-bottom: 20px;

  padding-left: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #333;
  font-weight: bold;
  text-align: left;
}

.portfolio-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
  justify-content: center;
}

.portfolio-item {
  margin-bottom: 20px;
  width: 100%;
}

.portfolio-items img {
  width: 120px;
  height: 120px;

  transition: width 0.3s, height 0.3s;
  cursor: pointer;
}

.portfolio-item.uploaded img {
  width: 100%;
  height: auto;
}



.container {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  align-items: center;
  width: 500px;
}

/* Input styles */
.contain-input {
  position: relative;
  margin: 20px 0;
}

.contain-input label {
  position: absolute;
  top: -15px;
  left: 10px;
  height: 10px;
  background: white;
  padding: 0 5px;
  font-size: 14px;
  color: #555;
  pointer-events: none;
  transition: 0.2s ease-in-out;
}

.contain-input  p {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 2px solid #aaa;
  border-radius: 5px;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  font-weight: bold;

  text-align: left;
}

/* Center the number input text */
.contain-input input[type="number"] {
  text-align: center;
}

.contain-input textarea {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 2px solid #aaa;
  border-radius: 5px;
  outline: none;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  font-family: "Courier New", monospace;
  font-size: 14px;
  color: gray;
  font-style: italic;
}

#age {
  width: 20%;
  text-align: center;
}


input,
textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}