body {
  font-family: Arial, sans-serif;
  background: url("background-pattern.png") repeat;
  background-color: #6b92b9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url("Images/Gigit background dark.png") repeat;
  background-color: #6b92b9;
}

.container {
  background: #bcd3e6;
  padding: 50px 100px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  align-items: center;
  width: 25%;
}

h1 {
  margin-bottom: 40px;
  color: rgb(59, 59, 59);
  text-shadow: 1px 1px #00000050;
  font-weight: bold;
  font-size: 50px;
}

label {
  display: block;
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
}

input {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #fffbfb;
}

.bluebutton {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #4a90e2;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  width: auto;
}
.bluebutton:hover {
  background: #357ab8;
  transition: background-color 0.3s ease;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.links {
  color: #4a90e2;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
}

.links:hover {
  text-decoration: underline;
  color: #357ab8;
  transition: color 0.3s ease;
}

.form-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loginform {
  width: 100%;
}
.divitemright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
